.wd-search-icon {
    bottom: 10px;
    left: 30px;
}

.wd-color-primary {
    color: #0275d8;
}

.img-thumbnail {
    border: none;
    border-radius: 15px;
    max-height: 100px;
}

.wd-avatar {
    box-sizing: border-box;
    width: 48px;
    height: 48px;
}
