body {
    font-family: "Arial";
    background-color: black;
    color: white;
    margin: 0;
    overflow-x: auto;
}

.wd-search-wrapper {
    clear: both;
    height: 40px;
    box-sizing: border-box;
    padding-left: 16px;
    padding-right: 12px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-input-field {
    width: 100%;
    border-radius: 40px;
    background: darkgray;
    box-sizing: border-box;
    padding: 10px;
}

.wd-input-field::placeholder {
    color: white;
}

.wd-search-bar{
    width: calc(100% - 50px);
    float: left;
}

.wd-gear {
    float: right;
}

.wd-gear-style {
    color: rgb(29,161,242);
    font-weight: bold;
    font-size: 28px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.wd-nav-tabs {
    font-weight: bold;
    font-size: 15px;
    padding: 0;
    margin-top: 4px;
    margin-bottom: 4px;
}

.wd-nav-tabs li {
    list-style-type: none;
    display: inline-block;
    padding: 16px;
}

.wd-nav-tabs .wd-selected span {
    color: rgb(29, 161, 242);
    border-bottom: solid 4px rgb(29,161,242);
    padding-bottom: 16px;
}

.wd-nav-tabs .wd-unselected {
    color: rgb(110, 118, 125);
}


.wd-divider {
    background-color: rgb(47, 51, 54);
    border-top: 10px solid;
    border-color: rgb(47, 51, 54);
    margin: 0;
}

h1 {
    color: white;
    font-size: 16px;
    margin-top: .5em;
    margin-bottom: .5em;
}

h3 {
    color: rgb(110, 118, 125);
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.wd-tweet {
    padding: 16px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: rgb(47, 51, 54);
    color: rgb(110, 118, 125);
    overflow: hidden;
}

.wd-tweet-text {
    float: left;
    width: calc(100% - 200px);
    display: inline-block;
}

.wd-image-container {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    overflow: hidden;
    float: right;
}

.wd-image {
    width: auto;
    height: 100px;
}

.wd-author {
    color: white;
    font-weight: bold;
}