.wd-header {
    padding: 12px 16px;
    border-bottom: 1px solid rgb(47, 51, 54);
}

h1 {
    color: white;
    font-size: 20px;
    margin: 0;
}

h2 {
    font-size: 13px;
    margin: 0;
    font-weight: normal;
}

.wd-tweet-wrapper {
    border-bottom: 1px solid rgb(47, 51, 54);
    padding: 12px 16px;
    vertical-align: top;
    display: flex;
}

.wd-avatar-wrapper {
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.wd-avatar {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 0;
}

.wd-tweet-content {
    display: inline-block;
    margin-left: 12px;
    margin-bottom: 0;
    padding: 0;
    max-width: 504px;
}


.wd-tweet-text {
    vertical-align: top;
    margin-bottom: 12px;
    max-width: 506px;
}

h3 {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 5px;
    margin-top: 0;
}

p {
    color: white;
    font-size: 15px;
    margin: 0;
}

.wd-large-image {
    width: 504px;
    height: 264px;
    object-fit: cover;
    display: block;
}


.wd-large-image-text {
    width: 504px;
    box-sizing: border-box;
    padding: 12px;
    font-size: 15px;
    border-top: 1px solid rgb(110, 118, 125);
}

.wd-details {
    padding-top: 5px;
}

.wd-large-image-wrapper {
    border: 1px solid rgb(110, 118, 125);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 12px;
}

.wd-interactions {
    padding: 0;
    margin: 0;
}

.wd-interactions li{
    list-style-type: none;
    display: inline-block;
    padding-right: 75px;
}

.wd-interactions-padding {
    padding-right: 12px;
}
